@use "../../../styles/partials/colors" as *;

.dreams {
  display: flex;
  background-color: $warm;
  color: $bright;
  padding: 2rem;
  width: 50%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px $shadow;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: capitalize;
  transition: ease-in-out 500ms;

  &:hover {
    background-color: $bright;
    color: $warm;
  }
}
