$text: #0f0f0f;
$background: #f0f1dd;
$primary: #dbcc95;
$secondary: #c3e2c2;
$accent: #cd8d7a;

$warm: #d04848;
$lucid: #f3b95f;
$bright: #fde767;
$calm: #6895d2;

$error: #f44336;
$shadow: #c0bfbf;
