@font-face {
  font-family: Andika;
  src: url('../../assets/fonts/Andika-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Andika;
  src: url('../../assets/fonts/Andika-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: Andika;
  src: url('../../assets/fonts/Andika-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Andika;
  src: url('../../assets/fonts/Andika-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
