@font-face {
  font-family: Andika;
  src: url("../../../public/fonts/Andika-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Andika;
  src: url("../../../public/fonts/Andika-Bold.ttf");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: Andika;
  src: url("../../../public/fonts/Andika-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Andika;
  src: url("../../../public/fonts/Andika-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
