@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 4rem;

  @include desktop {
    max-width: 1024px;
    margin: 4rem auto;
  }

  &__hero {
    text-transform: uppercase;
    font-weight: 700;
    background-color: $secondary;
    color: $accent;
    font-size: 2rem;
    border: 2px solid $primary;
    border-radius: 32px;
    box-shadow: 4px 4px 4px;
    padding: 1.5rem 3rem;
    margin: 2rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  &__label {
    display: none;
  }

  &__input {
    border: none;
    border-radius: 0.5rem;
    background-color: $secondary;
    color: $accent;
    font-size: 1rem;
    font-style: italic;
    text-align: center;
    padding: 0.5rem;
    box-shadow: 3px 3px 3px $shadow;

    @include desktop {
    }

    &::placeholder {
      text-align: center;
    }
  }

  &__button {
    margin-top: 4rem;
    border-radius: 8px;
    background-color: $accent;
    color: $primary;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    padding: 0.5rem;
    width: 6rem;
    box-shadow: 3px 3px 3px $shadow;
    cursor: pointer;
  }
}
