@use "../../../styles/partials/colors" as *;

.add-task {
  display: flex;
  justify-content: center;

  &__button {
    margin: 1rem;
    border-radius: 8px;
    background-color: $accent;
    color: $primary;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    padding: 0.5rem;
    width: 6rem;
    text-transform: capitalize;
    box-shadow: 3px 3px 3px $shadow;
    cursor: pointer;
  }
}
