@use "../../styles/partials/mixins" as *;

.child {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 80vh;

  &__logout {
    align-self: flex-end;
    margin-right: 4rem;

    @include desktop {
      margin-right: 6rem;
    }
  }

  &__logout-icon {
    width: 2rem;
    cursor: pointer;
    transition: 1s;
    transition-timing-function: (ease);

    &:hover {
      transform: scale(1.1);
    }

    @include desktop {
      width: 4rem;
    }
  }

  &__upper {
    display: flex;
    justify-content: space-around;
    width: 80vw;
  }

  &__lower {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__tasks {
    display: flex;
    padding: 0 auto;
  }

  &__arrow {
    width: 4rem;

    @include desktop {
      width: 6rem;
    }
  }
}
